.navbar-main {
    background-color: #e7c9a9;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}

.navbar-brand {
    color: black;
    border: 1px solid black;
}

.navbar-nav {
    align-items: center;
    border: 1px solid black;
    width: 25rem;    
    display: flex;
    justify-content: space-evenly;
}

.navbar-link {
    font-size: 28px;
    color: black;
    border: 1px solid black;
}


.navbar-newProject-button {
    align-items: center;
    font-size: 28px;
    border: 1px solid black;
}

.navbar-profile-icon {
    border: 1px solid black;
}